/*Utilitario*/
@font-face {
  font-family: 'fuentes-iconos';
  src: url("fonts/iconos/icomoon.eot?-2dvis8");
  src: url("fonts/iconos/icomoon.eot?#iefix-2dvis8") format('embedded-opentype'), url("fonts/iconos/icomoon.woff?-2dvis8") format('woff'), url("fonts/iconos/icomoon.ttf?-2dvis8") format('truetype'), url("fonts/iconos/icomoon.svg?-2dvis8#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
.u-body {
  background-color: #800040;
}
.u-boton {
  background-color: transparent;
  color: #fff;
  font-family: 'Exo 2';
  font-size: 2em;
}
.u-boton-archivada {
  background-color: #8000ff;
}
.u-boton-archivada:after {
  font-family: 'fuentes-iconos';
  content: "\e605";
}
.u-boton-concluida {
  background-color: #008484;
}
.u-boton-concluida:after {
  font-family: 'fuentes-iconos';
  content: "\e606";
}
.u-boton-endesarrollo {
  background-color: #ff8000;
}
.u-boton-endesarrollo:after {
  font-family: 'fuentes-iconos';
  content: "\e604";
}
.u-boton-ediciontarea {
  background-color: #8000ff;
}
.u-boton-ediciontarea:after {
  font-family: 'fuentes-iconos';
  content: "\e600";
}
.u-boton-newtarea {
  background-color: #ff8000;
}
.u-boton-newtarea:after {
  font-family: 'fuentes-iconos';
  content: "\e607";
}
.u-boton-sindesarrollar {
  background-color: #ff3737;
}
.u-boton-sindesarrollar:after {
  font-family: 'fuentes-iconos';
  content: "\e601";
}
.u-enlace {
  font-family: 'Exo 2';
  font-size: 2em;
}
.u-imagen {
  width: 100%;
}
.u-input {
  color: #000;
  font-family: 'Exo 2';
  font-size: 2.3em;
  width: 100%;
}
.u-label {
  color: #fff;
  font-family: 'Exo 2';
  font-size: 2em;
  width: 100%;
}
.u-parrafo {
  color: #fff;
  font-family: 'Exo 2';
  font-size: 1em;
}
.u-pintar-azul-1 {
  background-color: #006ddb;
  color: #fff;
}
.u-pintar-verde-1 {
  background-color: #008484;
  color: #fff;
}
.u-span {
  color: #fff;
  font-family: 'Exo 2';
  font-size: 2em;
}
.u-titulo-1 {
  color: #fff;
  font-family: 'Exo 2';
  font-size: 3em;
}
.u-titulo-2 {
  color: #fff;
  font-family: 'Exo 2';
  font-size: 2.5em;
}
.u-titulo-3 {
  color: #fff;
  font-family: 'Exo 2';
  font-size: 2em;
}
.u-titulo-4 {
  color: #fff;
  font-family: 'Exo 2';
  font-size: 1.5em;
}
.u-titulo-5 {
  color: #fff;
  font-family: 'Exo 2';
  font-size: 1em;
}
@media screen and (max-width: 480px) {
  .u-boton {
    font-size: 1.3em;
  }
  .u-enlace {
    font-size: 1.3em;
  }
  .u-input {
    font-size: 1.6em;
  }
  .u-label {
    font-size: 1.3em;
    width: 100%;
  }
  .u-span {
    font-size: 1.3em;
  }
  .u-titulo-1 {
    font-size: 2.3em;
  }
  .u-titulo-2 {
    font-size: 1.8em;
  }
  .u-titulo-3 {
    font-size: 1.3em;
  }
  .u-titulo-4 {
    font-size: 0.8em;
  }
  .u-titulo-5 {
    font-size: 0.3em;
  }
}
/*Inicio*/
.cabecera {
  border-bottom: 3px solid #fff;
  display: block;
  margin: 0;
  padding: 0 0 10px 0;
  text-align: center;
}
.cabecera-logo {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  text-align: left;
  width: 30%;
}
.cabecera-logo-figcaption {
  display: inline-block;
  margin: 0;
  padding: 5px;
  vertical-align: middle;
  width: 40%;
}
.cabecera-logo-figcaption-titulo4 {
  margin: 0;
  padding: 0;
  text-align: center;
}
.cabecera-logo-imagen {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  width: 90px;
}
.cabecera-menu {
  display: none;
  margin: 0;
  padding: 0;
}
.cabecera-menu-imagen {
  border: 1px solid #fff;
  display: none;
  margin: 0;
  padding: 0;
  width: 90px;
}
.cabecera-navegacion {
  display: inline-block;
  margin: 0;
  padding: 15px;
  vertical-align: middle;
  text-align: right;
  width: 65%;
}
.cabecera-navegacion-lista {
  display: block;
  list-style: none;
  list-style-position: inside;
  margin: 0;
  padding: 3px;
  text-align: right;
}
.cabecera-navegacion-lista-item {
  display: inline-block;
  margin: 4px;
  padding: 0;
  vertical-align: middle;
}
.cabecera-navegacion-lista-item-enlace {
  display: block;
  margin: 0;
  padding: 6px;
  text-align: center;
  text-decoration: none;
}
.cabecera-navegacion-lista-item-enlace:active {
  color: #fff;
}
.cabecera-navegacion-lista-item-enlace:hover {
  border-bottom: 4px solid #fff;
}
.cabecera-navegacion-lista-item-enlace:link {
  color: #fff;
}
.cabecera-navegacion-lista-item-enlace:visited {
  color: #fff;
}
.contacto {
  border-bottom: 3px solid #fff;
  display: block;
  margin: 5px;
  padding: 5px;
}
.contacto-titulo2 {
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
}
.contacto-titulo3 {
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .cabecera-navegacion {
    display: inline-block !important;
    vertical-align: middle;
  }
}
@media screen and (min-width: 780px) and (max-width: 1024px) {
  .cabecera-logo {
    width: 45%;
  }
  .cabecera-logo-figcaption {
    display: none;
  }
  .cabecera-menu {
    display: inline-block;
    vertical-align: middle;
  }
  .cabecera-menu-imagen {
    display: block;
  }
  .cabecera-navegacion {
    display: none;
    padding: 0;
    width: auto;
  }
  .cabecera-navegacion-lista-item {
    display: block;
  }
  .cabecera-navegacion-lista-item-enlace:hover {
    background-color: #006ddb;
    border-bottom: none;
    font-style: normal;
  }
}
@media screen and (min-width: 480px) and (max-width: 780px) {
  .cabecera-logo {
    width: 45%;
  }
  .cabecera-logo-figcaption {
    display: none;
  }
  .cabecera-menu {
    display: inline-block;
    vertical-align: middle;
  }
  .cabecera-menu-imagen {
    display: block;
  }
  .cabecera-navegacion {
    display: none;
    padding: 0;
    width: auto;
  }
  .cabecera-navegacion-lista-item {
    display: block;
  }
  .cabecera-navegacion-lista-item-enlace:hover {
    background-color: #006ddb;
    border-bottom: none;
    font-style: normal;
  }
}
@media screen and (max-width: 480px) {
  .cabecera-logo {
    width: 45%;
  }
  .cabecera-logo-figcaption {
    display: none;
  }
  .cabecera-menu {
    display: inline-block;
    vertical-align: middle;
  }
  .cabecera-menu-imagen {
    display: block;
  }
  .cabecera-navegacion {
    display: none;
    padding: 0;
    width: auto;
  }
  .cabecera-navegacion-lista-item {
    display: block;
  }
  .cabecera-navegacion-lista-item-enlace:hover {
    background-color: #006ddb;
    border-bottom: none;
    font-style: normal;
  }
}
/*Landing*/
.accion {
  border-bottom: 3px solid #fff;
  margin: 10px 0 10px 0;
  padding: 10px 0 10px 0;
  position: relative;
}
.accion-call {
  position: absolute;
  right: 5%;
  top: 12%;
  width: 30%;
}
.accion-call-formulario {
  border: 1px solid #fff;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  display: none;
  margin: 0;
  padding: 10px;
}
.accion-call-formulario-lista {
  display: block;
  list-style: none;
  list-style-position: inside;
  margin: 10px;
  padding: 3px;
  text-align: center;
}
.accion-call-formulario-lista-item {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
.accion-call-formulario-lista-item-boton {
  border: 1px solid #fff;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  display: block;
  margin: 0;
  padding: 6px;
}
.accion-call-formulario-lista-item-boton:active {
  color: #fff;
}
.accion-call-formulario-lista-item-boton:hover {
  background-color: #800040;
}
.accion-call-formulario-lista-item-boton:link {
  color: #fff;
}
.accion-call-formulario-lista-item-boton:visited {
  color: #fff;
}
.accion-call-formulario-titulo2 {
  display: block;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: center;
}
.accion-call-lista {
  display: block;
  list-style: none;
  list-style-position: inside;
  margin: 0;
  padding: 3px;
  text-align: center;
}
.accion-call-lista-item {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
.accion-call-lista-item-enlace {
  border: 1px solid #fff;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  display: block;
  margin: 0;
  padding: 6px;
  text-align: center;
  text-decoration: none;
}
.accion-call-lista-item-enlace:active {
  color: #fff;
}
.accion-call-lista-item-enlace:hover {
  background-color: #800040;
}
.accion-call-lista-item-enlace:link {
  color: #fff;
}
.accion-call-lista-item-enlace:visited {
  color: #fff;
}
.accion-producto {
  display: block;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 40%;
}
.accion-producto-titulo2 {
  display: block;
  margin: 0;
  padding: 4px;
}
.accion-producto-titulo3 {
  display: block;
  margin: 0;
  padding: 4px;
}
.caracteristica {
  display: block;
  border-bottom: 3px solid #fff;
  margin: 10px 0 10px 0;
  padding: 10px 0 10px 0;
}
.caracteristica-figura {
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
}
.caracteristica-figura-figcaption {
  display: block;
  margin: 0 0 0 10px;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 30%;
}
.caracteristica-figura-figcaption-titulo2 {
  display: block;
  margin: 0;
  padding: 0;
}
.caracteristica-figura-figcaption-titulo3 {
  display: block;
  margin: 0;
  padding: 0;
}
.caracteristica-imagen {
  display: block;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 780px) and (max-width: 1024px) {
  .accion {
    position: static;
  }
  .accion-call {
    position: static;
    width: 100%;
  }
  .accion-call-formulario-lista-item-boton:hover {
    background-color: #006ddb;
  }
  .accion-call-formulario-titulo2 {
    text-decoration: underline;
  }
  .accion-call-lista-item-enlace:hover {
    background-color: #006ddb;
  }
  .accion-producto {
    position: static;
    text-align: center;
  }
  .accion-producto-titulo2 {
    text-decoration: underline;
  }
}
@media screen and (min-width: 480px) and (max-width: 780px) {
  .accion {
    position: static;
  }
  .accion-call {
    position: static;
    width: 100%;
  }
  .accion-call-formulario-lista-item-boton:hover {
    background-color: #006ddb;
  }
  .accion-call-formulario-titulo2 {
    text-decoration: underline;
  }
  .accion-call-lista-item-enlace:hover {
    background-color: #006ddb;
  }
  .accion-producto {
    position: static;
    text-align: center;
  }
  .accion-producto-titulo2 {
    text-decoration: underline;
  }
}
@media screen and (max-width: 480px) {
  .accion {
    position: static;
  }
  .accion-call {
    position: static;
    width: 100%;
  }
  .accion-call-formulario-lista-item-boton:hover {
    background-color: #006ddb;
  }
  .accion-call-formulario-titulo2 {
    text-decoration: underline;
  }
  .accion-call-lista-item-enlace:hover {
    background-color: #006ddb;
  }
  .accion-producto {
    position: static;
    text-align: center;
  }
  .accion-producto-titulo2 {
    text-decoration: underline;
  }
}
@media screen and (min-width: 780px) and (max-width: 1024px) {
  .caracteristica-figura-figcaption {
    margin: 0;
    position: static;
    text-align: center;
    width: 100%;
  }
  .caracteristica-figura-figcaption-titulo2 {
    text-decoration: underline;
  }
}
@media screen and (min-width: 480px) and (max-width: 780px) {
  .caracteristica-figura-figcaption {
    margin: 0;
    position: static;
    text-align: center;
    width: 100%;
  }
  .caracteristica-figura-figcaption-titulo2 {
    text-decoration: underline;
  }
}
@media screen and (max-width: 480px) {
  .caracteristica-figura-figcaption {
    margin: 0;
    position: static;
    text-align: center;
    width: 100%;
  }
  .caracteristica-figura-figcaption-titulo2 {
    text-decoration: underline;
  }
}
/*Gestion Tarea*/
.calendario {
  display: block;
  margin: 10px;
  padding: 5px;
}
.calendario-dia {
  border: 2px solid #fff;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  display: inline-block;
  margin: 0;
  padding: 5px;
  vertical-align: top;
  width: 13%;
}
.calendario-dia-detalle {
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
}
.calendario-dia-detalle-nombre {
  background-color: #006ddb;
  border: 1px solid #fff;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  display: inline-block;
  margin: 0;
  padding: 5px;
  vertical-align: middle;
}
.calendario-dia-detalle-fecha {
  background-color: #008484;
  border: 1px solid #fff;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  display: inline-block;
  margin: 0;
  padding: 5px;
  vertical-align: middle;
}
.calendario-dia-tarea {
  background-color: #ff8000;
  border: 1px solid #fff;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  margin: 5px;
  padding: 5px;
}
.calendario-dia-tarea-lista {
  display: block;
  list-style: none;
  list-style-position: inside;
  margin: 10px;
  padding: 0;
  text-align: center;
}
.calendario-dia-tarea-lista-item {
  display: inline-block;
  margin: 4px;
  padding: 0;
  vertical-align: middle;
}
.calendario-dia-tarea-lista-item-enlace {
  border: 1px solid #fff;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  display: block;
  margin: 0;
  padding: 6px;
  text-align: center;
  text-decoration: none;
}
.calendario-dia-tarea-lista-item-enlace:active {
  color: #fff;
}
.calendario-dia-tarea-lista-item-enlace:hover {
  background-color: #800040;
}
.calendario-dia-tarea-lista-item-enlace:link {
  color: #fff;
}
.calendario-dia-tarea-lista-item-enlace:visited {
  color: #fff;
}
.calendario-dia-tarea-descripcion {
  background-color: #fff;
  border: 1px solid #000;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  color: #000;
  display: block;
  margin: 0;
  padding: 10px;
  text-align: center;
  word-break: break-all;
}
.calendario-dia-tarea-descripcion-enlace {
  border: 1px solid #fff;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  display: inline-block;
  font-size: 0.8em;
  margin: 0;
  padding: 6px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}
.calendario-dia-tarea-descripcion-enlace:active {
  color: #fff;
}
.calendario-dia-tarea-descripcion-enlace:hover {
  background-color: #800040;
}
.calendario-dia-tarea-descripcion-enlace:link {
  color: #fff;
}
.calendario-dia-tarea-descripcion-enlace:visited {
  color: #fff;
}
.calendario-dia-tarea-formulario {
  background-color: #006ddb;
  border: 1px solid #fff;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  display: none;
  margin: 0;
  padding: 5px;
}
.calendario-dia-tarea-formulario-lista {
  display: block;
  list-style: none;
  list-style-position: inside;
  margin: 10px;
  padding: 3px;
  text-align: center;
}
.calendario-dia-tarea-formulario-lista-item {
  display: inline-block;
  margin: 4px;
  padding: 0;
  vertical-align: middle;
}
.calendario-dia-tarea-formulario-lista-item-boton {
  border: 1px solid #fff;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  display: block;
  margin: 0;
  padding: 6px;
}
.calendario-dia-tarea-formulario-lista-item-boton:hover {
  background-color: #800040;
}
.calendario-dia-tarea-formulario-titulo3 {
  text-align: center;
}
.newtarea {
  display: block;
  margin: 10px;
  padding: 5px;
}
.newtarea-enlace {
  border: 1px solid #fff;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  display: block;
  margin: 0;
  padding: 6px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}
.newtarea-enlace:active {
  color: #fff;
}
.newtarea-enlace:hover {
  background-color: #800040;
}
.newtarea-enlace:link {
  color: #fff;
}
.newtarea-enlace:visited {
  color: #fff;
}
.newtarea-formulario {
  background-color: #008484;
  border: 1px solid #fff;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  display: none;
  margin: 0;
  padding: 10px;
}
.newtarea-formulario-lista {
  display: block;
  list-style: none;
  list-style-position: inside;
  margin: 10px;
  padding: 0;
  text-align: center;
}
.newtarea-formulario-lista-item {
  display: inline-block;
  margin: 4px;
  padding: 0;
  vertical-align: middle;
}
.newtarea-formulario-lista-item-boton {
  border: 1px solid #fff;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  display: block;
  margin: 0;
  padding: 6px;
}
.newtarea-formulario-lista-item-boton:hover {
  background-color: #800040;
}
.newtarea-formulario-titulo3 {
  text-align: center;
}
@media screen and (min-width: 780px) and (max-width: 1024px) {
  .calendario {
    margin: 0;
  }
  .calendario-dia {
    display: block;
    margin: 5px 0 5px 0;
    width: auto;
  }
}
@media screen and (min-width: 480px) and (max-width: 780px) {
  .calendario {
    margin: 0;
  }
  .calendario-dia {
    display: block;
    margin: 5px 0 5px 0;
    width: auto;
  }
}
@media screen and (max-width: 480px) {
  .calendario {
    margin: 0;
  }
  .calendario-dia {
    display: block;
    margin: 5px 0 5px 0;
    width: auto;
  }
}
