color_azul_1 = #006DDB
color_fondo_body = #800040
color_fondo_body_opuesto = black
color_gris_1 = #C9C9C9
color_morado_1 = #8000FF
color_naranja_1 = #FF8000
color_rojo_1 = #FF3737
color_texto = white
color_texto_input = black
color_bordes = color_texto
color_verde_1 = #008484
color_verde_2 = #71FF71
estandar_ancho_logo_producto = 90px
estandar_margin_div = 5px
estandar_margin_figure = 10px
estandar_margin_formulario = 10px
estandar_margin_enlace = 4px
estandar_margin_lista = 10px
estandar_padding_div = 5px
estandar_padding_enlace = 6px
estandar_padding_figcaption = 5px
estandar_padding_formulario = 10px
estandar_padding_lista = 3px
estandar_padding_navegacion = 15px
estandar_padding_contacto = 5px
estandar_margin_contacto = 5px
fuente_familia = 'Exo 2'
size_font_enlace = 2em
size_font_input = 2.3em
size_font_label = 2em
size_font_titulo1 = 3em
size_font_titulo2 = 2.5em
size_font_titulo3 = 2em
size_font_titulo4 = 1.5em
size_font_titulo5 = 1em
size_font_span = 2em