efecto-responsive = 0.7em

rwd_1_size_font_enlace = size_font_enlace - efecto-responsive
rwd_1_size_font_input = size_font_input - efecto-responsive
rwd_1_size_font_label = size_font_label - efecto-responsive
rwd_1_size_font_parrafo = size_font_parrafo - efecto-responsive
rwd_1_size_font_titulo1 = size_font_titulo1 - efecto-responsive
rwd_1_size_font_titulo2 = size_font_titulo2 - efecto-responsive
rwd_1_size_font_titulo3 = size_font_titulo3 - efecto-responsive
rwd_1_size_font_titulo4 = size_font_titulo4 - efecto-responsive
rwd_1_size_font_titulo5 = size_font_titulo5 - efecto-responsive
rwd_1_size_font_span =size_font_span - efecto-responsive

@media screen and (max-width: 480px)
	.u
		&-boton
			font-size rwd_1_size_font_enlace
		&-enlace
			font-size rwd_1_size_font_enlace

		&-input
			font-size rwd_1_size_font_input
		&-label
			font-size rwd_1_size_font_label
			width 100%
		&-span
			font-size rwd_1_size_font_span
		&-titulo
			&-1
				font-size rwd_1_size_font_titulo1
			&-2
				font-size rwd_1_size_font_titulo2
			&-3

				font-size rwd_1_size_font_titulo3
			&-4
				font-size rwd_1_size_font_titulo4
			&-5
				font-size rwd_1_size_font_titulo5