@font-face
	font-family 'fuentes-iconos';
	src url('fonts/iconos/icomoon.eot?-2dvis8')
	src url('fonts/iconos/icomoon.eot?#iefix-2dvis8') format('embedded-opentype'),
		url('fonts/iconos/icomoon.woff?-2dvis8') format('woff'),
		url('fonts/iconos/icomoon.ttf?-2dvis8') format('truetype'),
		url('fonts/iconos/icomoon.svg?-2dvis8#icomoon') format('svg')
	font-weight normal
	font-style normal

.u
	&-body
		background-color color_fondo_body
	&-boton
		background-color transparent
		border 1px solid white
		border-radius 0.5em
		color color_texto
		font-family fuente_familia		
		font-size size_font_enlace
		&-archivada
			background-color color_morado_1
			&:after
				font-family 'fuentes-iconos';
				content "\e605"
		&-concluida
			background-color color_verde_1
			&:after
				font-family 'fuentes-iconos';
				content "\e606"
		&-endesarrollo
			background-color color_naranja_1
			&:after
				font-family 'fuentes-iconos';
				content "\e604"
		&-ediciontarea
			background-color color_morado_1
			&:after
				font-family 'fuentes-iconos';
				content "\e600"
		&-newtarea
			background-color color_naranja_1
			&:after
				font-family 'fuentes-iconos';
				content "\e607"
		&-sindesarrollar
			background-color color_rojo_1
			&:after
				font-family 'fuentes-iconos';
				content "\e601"
	&-enlace
		font-family fuente_familia		
		font-size size_font_enlace
	&-imagen
		width 100%
	&-input
		color color_texto_input
		font-family fuente_familia
		font-size size_font_input
		width 100%
	&-label
		color color_texto
		font-family fuente_familia
		font-size size_font_label
		width 100%
	&-parrafo
		color color_texto
		font-family fuente_familia
		font-size size_font_parrafo
	&-pintar
		&-azul
			&-1
				background-color color_azul_1
				color white
		&-verde
			&-1
				background-color color_verde_1
				color white
	&-span
		color color_texto
		font-family fuente_familia
		font-size size_font_span
	&-titulo
		&-1
			color color_texto
			font-family fuente_familia
			font-size size_font_titulo1
		&-2
			color color_texto
			font-family fuente_familia
			font-size size_font_titulo2
		&-3
			color color_texto
			font-family fuente_familia
			font-size size_font_titulo3
		&-4
			color color_texto
			font-family fuente_familia
			font-size size_font_titulo4
		&-5
			color color_texto
			font-family fuente_familia
			font-size size_font_titulo5