@media screen and (min-width: 780px) and (max-width: 1024px)
	.accion
		position static
		&-call
			position static
			width 100% 
			&-formulario
				&-lista
					&-item
						&-boton
							&:hover
								background-color color_azul_1
				&-titulo2
					text-decoration underline
							
			&-lista
				&-item
					&-enlace
						&:hover
							background-color color_azul_1
		&-producto
			position static
			text-align center
			&-titulo2
				text-decoration underline

@media screen and (min-width: 480px) and (max-width: 780px)
	.accion
		position static
		&-call
			position static
			width 100% 
			&-formulario
				&-lista
					&-item
						&-boton
							&:hover
								background-color color_azul_1
				&-titulo2
					text-decoration underline
							
			&-lista
				&-item
					&-enlace
						&:hover
							background-color color_azul_1
		&-producto
			position static
			text-align center
			&-titulo2
				text-decoration underline

@media screen and (max-width: 480px)
	.accion
		position static
		&-call
			position static
			width 100% 
			&-formulario
				&-lista
					&-item
						&-boton
							&:hover
								background-color color_azul_1
				&-titulo2
					text-decoration underline
							
			&-lista
				&-item
					&-enlace
						&:hover
							background-color color_azul_1
		&-producto
			position static
			text-align center
			&-titulo2
				text-decoration underline