@media screen and (min-width: 780px) and (max-width: 1024px)
	.caracteristica
		&-figura
			&-figcaption
				margin 0
				position static
				text-align center
				width 100%
				&-titulo2
					text-decoration underline

@media screen and (min-width: 480px) and (max-width: 780px)
	.caracteristica
		&-figura
			&-figcaption
				margin 0
				position static
				text-align center
				width 100%
				&-titulo2
					text-decoration underline

@media screen and (max-width: 480px)
	.caracteristica
		&-figura
			&-figcaption
				margin 0
				position static
				text-align center
				width 100%
				&-titulo2
					text-decoration underline
