.cabecera
	border-bottom 3px solid color_bordes
	display block
	margin 0
	padding 0 0 10px 0
	text-align center
	&-logo
		display inline-block
		margin 0
		padding 0
		vertical-align middle
		text-align left
		width 30%
		&-figcaption
			display inline-block
			margin 0
			padding estandar_padding_figcaption
			vertical-align middle
			width 40%
			&-titulo4
				margin 0
				padding 0
				text-align center
		&-imagen
			display inline-block
			margin 0
			padding 0
			vertical-align middle
			width estandar_ancho_logo_producto
	&-menu
		display none
		margin 0
		padding 0
		&-imagen
			border 1px solid color_bordes
			display none
			margin 0
			padding 0
			width estandar_ancho_logo_producto
	&-navegacion
		display inline-block
		margin 0
		padding estandar_padding_navegacion
		vertical-align middle
		text-align right
		width 65%
		&-lista
			display block
			list-style none
			list-style-position inside
			margin 0
			padding estandar_padding_lista
			text-align right
			&-item
				display inline-block
				margin estandar_margin_enlace
				padding 0
				vertical-align middle
				&-enlace
					display block
					margin 0
					padding estandar_padding_enlace
					text-align center
					text-decoration none
					&:active
						color color_texto
					&:hover
						border-bottom 4px solid color_bordes
					&:link
						color color_texto
					&:visited
						color color_texto