.contacto
	border-bottom 3px solid color_bordes
	display block
	margin estandar_margin_contacto
	padding estandar_padding_contacto
	&-titulo2
		display block
		margin 0
		padding 0
		text-align center
	&-titulo3
		display block
		margin 0
		padding 0
		text-align center