@media screen and (min-width: 1024px)
	.cabecera
		&-navegacion
			display inline-block !important
			vertical-align middle

@media screen and (min-width: 780px) and (max-width: 1024px)
	.cabecera
		&-logo
			width 45%
			&-figcaption
				display none
		&-menu
			display inline-block
			vertical-align middle
			&-imagen
				display block
		&-navegacion
			display none
			padding 0
			width auto
			&-lista
				&-item
					display block
					&-enlace
						&:hover
							background-color color_azul_1
							border-bottom none
							font-style normal
@media screen and (min-width: 480px) and (max-width: 780px)
	.cabecera
		&-logo
			width 45%
			&-figcaption
				display none
		&-menu
			display inline-block
			vertical-align middle
			&-imagen
				display block
		&-navegacion
			display none
			padding 0
			width auto
			&-lista
				&-item
					display block
					&-enlace
						&:hover
							background-color color_azul_1
							border-bottom none
							font-style normal

@media screen and (max-width: 480px)
	.cabecera
		&-logo
			width 45%
			&-figcaption
				display none
		&-menu
			display inline-block
			vertical-align middle
			&-imagen
				display block
		&-navegacion
			display none
			padding 0
			width auto
			&-lista
				&-item
					display block
					&-enlace
						&:hover
							background-color color_azul_1
							border-bottom none
							font-style normal