.calendario
	display block
	margin 10px
	padding 5px
	&-dia
		border 2px solid color_bordes
		border-radius 0.5em
		display inline-block
		margin 0
		padding 5px
		vertical-align top
		width 13%
		&-detalle
			display block
			margin 0
			padding 0
			text-align center
			&-nombre
				background-color color_azul_1
				border 1px solid color_bordes
				border-radius 0.5em
				display inline-block
				margin 0
				padding 5px
				vertical-align middle
			&-fecha
				background-color color_verde_1
				border 1px solid color_bordes
				border-radius 0.5em
				display inline-block
				margin 0
				padding 5px
				vertical-align middle
		&-tarea
			background-color color_naranja_1
			border 1px solid color_bordes
			border-radius 0.5em
			margin 5px
			padding 5px
			&-lista
				display block
				list-style none
				list-style-position inside
				margin estandar_margin_lista
				padding 0
				text-align center
				&-item
					display inline-block
					margin 4px
					padding 0
					vertical-align middle
					&-enlace
						border 1px solid color_bordes
						border-radius 0.5em
						display block
						margin 0
						padding estandar_padding_enlace
						text-align center
						text-decoration none
						&:active
							color color_texto
						&:hover
							background-color color_fondo_body
						&:link
							color color_texto
						&:visited
							color color_texto
			&-descripcion
				background-color #FFFFFF
				border 1px solid color_fondo_body_opuesto
				border-radius 0.5em
				color black
				display block
				margin 0
				padding 10px
				text-align center
				word-break break-all
				&-enlace
					border 1px solid color_bordes
					border-radius 0.5em
					display inline-block
					font-size 0.8em
					margin 0
					padding estandar_padding_enlace
					text-align center
					text-decoration none
					vertical-align middle
					&:active
						color color_texto
					&:hover
						background-color color_fondo_body
					&:link
						color color_texto
					&:visited
						color color_texto
			&-formulario
				background-color color_azul_1
				border 1px solid color_bordes
				border-radius 0.5em
				display none
				margin 0
				padding 5px
				&-lista
					display block
					list-style none
					list-style-position inside
					margin estandar_margin_lista
					padding estandar_padding_lista
					text-align center
					&-item
						display inline-block
						margin 4px
						padding 0
						vertical-align middle
						&-boton
							border 1px solid color_bordes
							border-radius 0.5em
							display block
							margin 0
							padding estandar_padding_boton
							&:hover
								background-color color_fondo_body
				&-titulo3
					text-align center
		
	
