.calendario
	text-align center
	&-dia
		border 1px solid color_bordes
		border-radius 0.5em
		display inline-block
		padding 3px
		vertical-align top
		width 13.1%
		&-detalle
			background-color color_azul_1
			border 1px solid color_bordes
			border-radius 0.5em
			display block
			text-align center
			&-fecha
				display inline-block
				padding 5px
				vertical-align middle
				word-break break-all
			&-nombredia
				display inline-block
				font-weight bold
				padding 5px
				vertical-align middle
				word-break break-all
		&-resultado
			background-color white
			border 1px solid color_bordes
			border-radius 0.5em
			display block
			margin 5px
			&-mensaje
				color red
				display block
				text-align center
				word-break break-all
		&-tarea
			background-color color_naranja_1
			border 1px solid color_bordes
			border-radius 0.5em
			display block
			margin 5px
			padding 3px
			&-contenedor
				display block
				text-align center
				&-archivar
					display inline-block
					vertical-align middle
					text-align center
					&-boton
						border 1px solid color_bordes
						border-radius 0.5em
						&:hover
							background-color color_fondo_body
				&-conclusion
					display inline-block
					vertical-align middle
					text-align center
					&-boton
						border 1px solid color_bordes
						border-radius 0.5em
						&:hover
							background-color color_fondo_body
			&-descripcion
				background-color white
				border 1px solid color_bordes
				border-radius 0.5em
				color black
				display block
				margin 5px
				text-align center
				word-break break-all
				&-enlace
					border 1px solid color_bordes
					border-radius 0.5em
					display inline-block
					font-size 0.8em
					padding estandar_padding_enlace
					margin 0
					text-decoration none
					text-align center
					vertical-align middle
					&:active
						color color_texto
					&:hover
						background-color color_fondo_body
					&:link
						color color_texto
					&:visited
						color color_texto
			&-edicion
				background-color color_verde_1
				border 1px solid color_bordes
				border-radius 0.5em
				display none
				margin 5px
				padding estandar_padding_formulario
				&-label
					word-break break-all
				&-lista
					list-style none
					list-style-position inside
					margin 5px 0 5px 0
					padding 0
					text-align center
					&-item
						display inline-block
						vertical-align middle
						&-boton
							display block
							padding estandar_padding_boton
							&:active
								color color_texto
							&:hover
								background-color color_azul_1
							&:link
								color color_texto
							&:visited
								color color_texto
				&-titulo3
					text-align center
					word-break break-all
	