.calendario
	&-dia
		&-botonera
			text-align center
			&-lista
				display inline-block
				margin estandar_margin_lista
				padding 0
				text-align center
				vertical-align middle
				&-item
					display inline-block
					margin 0
					padding 0
					vertical-align middle
					&-enlace
						border 1px solid color_bordes
						border-radius 0.5em
						display block
						margin 0
						padding estandar_padding_enlace
						text-align center
						text-decoration none
						&:active
							color color_texto
						&:hover
							background-color color_azul_1
						&:link
							color color_texto
						&:visited
							color color_texto
		&-formulario
			border 1px solid color_bordes
			border-radius 0.5em
			display none
			margin estandar_margin_formulario
			padding estandar_padding_formulario
			&-lista
				display block
				margin estandar_margin_lista
				padding 0
				text-align center
				vertical-align middle
				&-item
					display inline-block
					margin 0
					padding 0
					vertical-align middle
					text-align center
					&-boton
						border 1px solid color_bordes
						border-radius 0.5em
						display block
						margin 0
						padding estandar_padding_enlace
						text-align center
						&:active
							color color_texto
						&:hover
							background-color color_azul_1
						&:link
							color color_texto
						&:visited
							color color_texto
						
			&-titulo3
				display block
				text-align center
		&-nombre
			text-align center
			&-lista
				display inline-block
				margin estandar_margin_lista
				padding 0
				text-align center
				vertical-align middle
				&-item
					display inline-block
					margin 0
					padding 0
					vertical-align middle
					&-enlace
						border 1px solid color_bordes
						border-radius 0.5em
						display block
						margin 0
						padding estandar_padding_enlace
						text-align center
						text-decoration none
						&:active
							color color_texto
						&:hover
							background-color color_azul_1
						&:link
							color color_texto
						&:visited
							color color_texto
			&-span
				display inline-block
				vertical-align middle
				text-align center
		&-tarea
			background-color white
			border 1px solid color_bordes
			border-radius 0.5em
			display block
			margin estandar_margin_div
			padding estandar_padding_div
			&-descripcion
				color black
				display block
				text-align center
				word-break break-all
				&-enlace
					background-color color_naranja_1
					border 1px solid color_bordes
					border-radius 0.5em
					margin 0
					padding 3px
					text-align center
					text-decoration none
					&:active
						color color_texto
					&:hover
						background-color color_azul_1
					&:link
						color color_texto
					&:visited
						color color_texto