.newtarea
	display block
	margin 10px
	padding 5px
	&-enlace
		border 1px solid color_bordes
		border-radius 0.5em
		display block
		margin 0
		padding estandar_padding_enlace
		text-align center
		text-decoration none
		vertical-align middle
		&:active
			color color_texto
		&:hover
			background-color color_fondo_body
		&:link
			color color_texto
		&:visited
			color color_texto
	&-formulario
		background-color color_verde_1
		border 1px solid color_bordes
		border-radius 0.5em
		display none
		margin 0
		padding estandar_padding_formulario
		&-lista
			display block
			list-style none
			list-style-position inside
			margin estandar_margin_lista
			padding 0
			text-align center
			&-item
				display inline-block
				margin 4px
				padding 0
				vertical-align middle
				&-boton
					border 1px solid color_bordes
					border-radius 0.5em
					display block
					margin 0
					padding estandar_padding_boton
					&:hover
						background-color color_fondo_body
		&-titulo3
			text-align center