@media screen and (min-width: 780px) and (max-width: 1024px)
	.calendario
		margin 0
		&-dia
			display block
			margin 5px 0 5px 0
			width auto
@media screen and (min-width: 480px) and (max-width: 780px)
	.calendario
		margin 0
		&-dia
			display block
			margin 5px 0 5px 0
			width auto

@media screen and (max-width: 480px)
	.calendario
		margin 0
		&-dia
			display block
			margin 5px 0 5px 0
			width auto
			