@media screen and (min-width: 780px) and (max-width: 1024px)
	.calendario
		&-dia
			display block
			width 100%
			&-tarea
				&-edicion
					&-lista
						&-item
							display block
							&-boton
								width 100%
@media screen and (min-width: 480px) and (max-width: 780px)
	.calendario
		&-dia
			display block
			width 100%
			&-tarea
				&-edicion
					&-lista
						&-item
							display block
							&-boton
								width 100%

@media screen and (max-width: 480px)
	.calendario
		&-dia
			display block
			width 100%
			&-tarea
				&-edicion
					&-lista
						&-item
							display block
							&-boton
								width 100%
		&-newtarea
			&-formulario
				&-lista
					&-item
						display block
						&-boton
							width 100%