@media screen and (max-width: 480px)
	.calendario
		&-dia
			&-tarea
				&-edicion
					&-lista
						&-item
							display block
							&-boton
								width 100%
		&-newtarea
			&-formulario
				&-lista
					&-item
						display block
						&-boton
							width 100%